/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ==========================================================================
   Custom Styles
   ========================================================================== */
/* line 25, ../sass/style.scss */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

hr {
  display: none;
}

body {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  color: #222222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #222222;
}
a:hover {
  text-decoration: underline;
}

.wow {
  visibility: hidden;
}

header {
  position: fixed;
  width: 100%;
  background-color: #f2eee2;
  z-index: 9999;
}
header .brand a {
  display: block;
  padding: 20px;
}
header .brand img {
  width: 148px;
}
header nav {
  background-color: rgba(38, 38, 38, 0.99);
  position: relative;
  z-index: 9999;
}
header nav ul li:first-child a {
  padding-top: 127px;
}
@media only screen and (min-width: 1020px) {
  header nav ul li:first-child a {
    padding-top: 10px;
  }
}
header nav ul li:last-child a {
  padding-bottom: 127px;
}
@media only screen and (min-width: 1020px) {
  header nav ul li:last-child a {
    padding-bottom: 10px;
  }
}
header nav ul li a {
  display: block;
  padding: 27px;
  color: #cccccc;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 1020px) {
  header nav ul li a {
    padding: 10px;
    color: #222222;
  }
}
@media only screen and (min-width: 1020px) {
  header nav ul li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1020px) {
  header nav {
    background-color: inherit;
  }
}
header .nav-social {
  padding: 0 10px 25px 10px;
  width: 270px;
  margin: auto;
  color: #cccccc;
}
header .nav-social span {
  display: inline-block;
  margin-right: 50px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
}
header .nav-social i {
  font-size: 1.5em;
  margin-right: 22px;
  color: #cccccc;
}
header .nav-toggle i {
  position: fixed;
  z-index: 999;
  right: 20px;
  top: 25px;
  font-size: 1.875em;
}

.jumbotron {
  background: url("../img/jumbotronbg-mobile.jpg") no-repeat center top;
  background-size: cover !important;
  padding-top: 83px;
}
.jumbotron .large-info {
  display: none;
  text-align: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25%;
}
.jumbotron .mobile-info {
  text-transform: uppercase;
  font-size: 1.250em;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 120px;
}
.jumbotron h1 {
  padding-top: 100px;
  font-size: 3.750em;
  text-align: center;
  text-transform: uppercase;
}

.features .f-box {
  padding: 50px 5%;
  text-align: center;
}
.features .f-box h2 {
  font-weight: bold;
  font-size: 1.125em;
  text-transform: uppercase;
  margin-top: 28px;
}
.features .f-box hr {
  margin-top: 28px;
  display: block;
  background-color: #d0d0d0;
  height: 1px;
}
.features .f-box p {
  margin-top: 28px;
  line-height: 30px;
}
.features .f-box:nth-child(2n+1) {
  background-color: #fbfbfb;
}
.features .f-box.higlight {
  background: #ededed;
}
.features .f-box img {
  width: 74px;
}

section hr {
  height: 2px;
  width: 56px;
  background: red;
}

h2.section-main-title {
  font-size: 3.125em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

h3.sub-head {
  font-size: 0.875em;
  text-transform: uppercase;
  color: #999999;
  text-align: center;
  font-weight: 400;
}

.job-apply {
  color: #222222;
  padding-top: 90px;
  padding-bottom: 90px;
}
.job-apply h2 {
  font-weight: 500;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-top: 28px;
  padding: 0 5%;
}
.job-apply hr {
  margin-top: 28px;
  display: block;
  background-color: #c41230;
  height: 1px;
}
.job-apply p {
  margin-top: 28px;
  line-height: 30px;
}
.job-apply p.about-section {
  padding: 40px 7%;
  margin-top: 0;
  word-wrap: break-word;
  text-align: center;
}
.job-apply.higlight {
  background-color: #ededed;
}
.job-apply .job-position {
  display: none;
  padding: 30px 5%;
}
.job-apply .job-position:nth-child(2n+1) {
  background-color: #f8f7f5;
}
.job-apply .job-position .job-title {
  text-transform: uppercase;
}
.job-apply .job-position .job-desc {
  font-size: 0.938em;
  font-weight: 300;
  line-height: 20px;
}
.job-apply .job-position.higlight .apply {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.job-apply .job-position.higlight .left ul li {
  color: #ffffff;
}
.job-apply .job-position .left ul {
  padding-top: 17px;
}
.job-apply .job-position .left ul li {
  display: inline-block;
  font-size: 0.938em;
  font-weight: 300;
  line-height: 20px;
  padding: 0 3px;
  color: #c41230;
}
.job-apply .job-position .right {
  display: none;
}
.job-apply .load-more-jobs {
  display: block;
  padding: 20px;
  text-transform: uppercase;
  font-size: 0.875em;
  text-align: center;
  margin: 75px auto 0 auto;
  background-color: #eeeeee;
  width: 70%;
  border: none;
}
.job-apply .load-more-jobs:hover {
  text-decoration: none;
  border: 1px solid #cccccc;
}

.about-us {
  padding-top: 90px;
  background-color: #fbfbfb;
  padding-bottom: 47px;
}
.about-us h2 {
  font-weight: 500;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-top: 28px;
  padding: 0 5%;
}
.about-us hr {
  margin-top: 28px;
  margin-bottom: 28px;
  display: block;
  background-color: #c41230;
  height: 1px;
}
.about-us p {
  margin-top: 28px;
  line-height: 30px;
  padding: 0 7%;
  margin-bottom: 20px;
  margin-top: 0;
  word-wrap: break-word;
  text-align: left;
}

.social {
  padding: 75px 5%;
}
.social ul {
  margin-top: 35px;
  text-align: center;
}
.social ul li {
  display: inline-block;
  margin-right: 15px;
}
.social ul li a {
  text-indent: -9999px;
}

footer {
  padding-top: 75px;
  color: #ffffff;
}
footer .helper {
  background-color: #222222;
}
footer .contact-info {
  padding: 45px 5% 0 5%;
}
footer .contact-info h3 {
  text-transform: uppercase;
}
footer .contact-info .contact-box {
  padding-top: 45px;
}
footer .contact-info .contact-box h3 {
  background: url("../img/gpsnav.png") no-repeat left center;
  padding: 8px 25px;
  margin-bottom: 15px;
  font-size: 1em;
  font-weight: 400;
}
footer .contact-info .contact-box p {
  color: #666666;
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
}
footer .f-social {
  padding: 60px 5% 30px 5%;
  color: #666666;
}
footer .f-social i {
  font-size: 2.125em;
  margin-right: 20px;
  color: #666666;
}
footer .f-social .sitelink {
  font-weight: 300;
  font-size: 0.875em;
}
footer .f-social.tablet {
  display: none;
}
footer .copyright {
  color: #666666;
  font-size: 0.75em;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #1e1e1e;
  padding: 4%;
}
footer .copyright .tablet {
  display: none;
}

@media only screen and (min-width: 321px) {
  .jumbotron {
    background: url("../img/jumbotronbg-tablet.jpg") no-repeat center top;
  }
}
@media only screen and (min-width: 480px) {
  footer .copyright {
    padding: 3%;
  }
}
@media only screen and (min-width: 768px) {
  .jumbotron h1 {
    font-size: 4.375em;
  }
  .jumbotron .mobile-info {
    display: none;
  }
  .jumbotron .large-info {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Helvetica', 'sans-serif';
    font-weight: 400;
    line-height: 1.25em;
  }

  .features {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .features:after {
    content: " ";
    display: block;
    clear: both;
  }
  .features .f-box {
    width: 32.20339%;
    float: left;
    padding: 50px 15px;
  }
  .features .f-box:first-child img {
    width: 87px;
  }

  .job-apply .job-position {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: inherit;
    padding: 0;
  }
  .job-apply .job-position:after {
    content: " ";
    display: block;
    clear: both;
  }
  .job-apply .job-position.higlight {
    background-color: #222222;
    color: #ffffff;
  }
  .job-apply .job-position .left {
    width: 66.10169%;
    float: left;
    padding: 30px 5%;
  }
  .job-apply .job-position .left ul li {
    padding: 5px 20px;
    margin-right: 7px;
    border: 1px solid #bbbbbb;
    font-size: 0.813em;
  }
  .job-apply .job-position .right {
    position: relative;
    text-align: center;
    padding-left: 50px;
    min-height: 200px;
    display: block;
    width: 32.20339%;
    float: left;
  }
  .job-apply .load-more-jobs {
    width: 25%;
    color: #333333;
  }

  footer .contact-info {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  footer .contact-info:after {
    content: " ";
    display: block;
    clear: both;
  }
  footer .contact-info .contact-box {
    width: 32.20339%;
    float: left;
    padding-left: 10%;
    padding-bottom: 95px;
  }
  footer .contact-info .contact-box h3 {
    margin-bottom: 25px;
  }
  footer .f-social.mobile {
    display: none;
  }
  footer .copyright {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
  }
  footer .copyright:after {
    content: " ";
    display: block;
    clear: both;
  }
  footer .copyright p {
    line-height: 30px;
    width: 66.10169%;
    float: left;
  }
  footer .copyright p.tablet {
    display: block;
  }
  footer .copyright p.mobile {
    display: none;
  }
  footer .copyright .f-social.tablet {
    width: 32.20339%;
    float: left;
    display: block;
    padding: 0;
    text-align: right;
  }
  footer .copyright .f-social.tablet .sitelink {
    text-transform: none;
    font-size: 1em;
  }

  .apply {
    display: block;
    font-weight: 400;
    color: #222222;
    padding: 15px 42px;
    border: 1px solid #222222;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media only screen and (min-width: 1020px) {
  .nav-social {
    display: none;
  }

  .wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
    margin: auto;
  }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
  .wrapper nav {
    width: 66.10169%;
    float: left;
  }
  .wrapper .brand {
    width: 32.20339%;
    float: left;
  }

  header nav {
    margin-top: 25px;
    background-color: inherit;
    text-align: right;
  }
  header nav ul li, header nav.nav-collapse li {
    padding-left: 30px;
    width: auto;
    display: inline-block;
  }
  header nav ul li:first-child a, header nav.nav-collapse li:first-child a {
    padding-top: 10px;
  }
  header nav ul li:last-child a, header nav.nav-collapse li:last-child a {
    padding-bottom: 10px;
  }
  header nav ul li a, header nav.nav-collapse li a {
    padding: 10px;
    color: #222222;
    font-size: 0.875em;
    font-weight: 400;
  }

  .jumbotron {
    background: url("../img/jumbotronbg.jpg") no-repeat left center;
  }
  .jumbotron h1 {
    padding-bottom: 40px;
  }
  .jumbotron hr {
    display: block;
  }
  .jumbotron .large-info {
    padding-left: 27%;
    padding-right: 27%;
  }

  .features .f-box {
    padding-top: 95px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
